.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  font-size: 15px;
}
body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.mydiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px;
  padding: 12px;
  -webkit-box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
  background-color: grey;
  border-radius: 10px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.images {
  width: 24%;
  margin: 22px;
  border: 2px solid #e7a61a;
  border-radius: 10px;
  padding: 4px;
}
input {
  padding: 12px;
  width: 50%;
  text-align: center;
  border-radius: 18px;
  border: none;
}
button {
  padding: 12px;
  width: 10%;
  border-radius: 18px;
  border: none;
}
